
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f9ece4;
	color: #555;
	font-family: 'Lato','Arial','sans-serif';
	font-size: 100%;
}

p {
    font-family: "Iowan Old Style";
}

.feature, .download,.about {
    padding: 10%;
}

.title,.download-text,footer {
    text-align: center;
}

.feature p,.about p {
    margin-top: 20px;
}


.container {
    max-width: 100%;
    width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

h1,h2 {
    color: #c2947b;
    font-family: "Apple Chancery","Chancery";

}

.nav-bar {
    display: flex;
    list-style: none;
    margin-top: 20px;
    font-family: "Iowan Old Style";
}

.nav-bar a {
    padding: 20px;
    color: #605f5f;
    text-decoration: none;
}

.nav-bar li:first-child {
    margin-right: auto;
}


/* main section */


.btn {
    background: #b3455f;
    color: #fff;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    width: 300px;
    padding: 15px 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-family: "Iowan Old Style";
}


.main img {
    margin-top: 100px;
    width: 100%;
    
}

/* feature section */
.flex-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.feature-list {
    width: 50%;
    padding: 10%;
}

.feature h3 {
    color: #b3455f;
    text-decoration: underline;
}


/* Download section */

.download {
    background-image: url(../img/banner.png);
    background-position: center;
    background-repeat: no-repeat;
}

.download h1 {
    color: #400e17;
    font-family: "Playfair Display";
}
